*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F7F8F9;
}

header{
    background-color: #FFFFFF;
    height: 70px;
    line-height: 50px;
    padding: 10px 10px;
}

header img{
    height: 100%;
    vertical-align: middle;
}

header h1{
    display: inline-block;
}