/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

/* body */
body{
    background-color: #F7F8F9;
}

/* header */
header{
    background-color: #FFFFFF;
    height: 70px;
    padding: 10px 0;
    line-height: 50px;
}

header img{
    height: 100%;
    vertical-align: middle;
}

header h1{
    display: inline-block;
    font-size: 2em;
}

/* main */
main{
    background-color: #FFFFFF;
    width: 60%;
    margin: 30px auto;
    border-radius: 4px;
}

/* header button */
.header{
    border-bottom: 1px solid #D8DCDF;
    padding-left: 7%;
    font-size: 0.8em;
}

.header button{
    margin: 10px 0px 7px 0px;
    padding: 5px;
    border-radius: 4px;
}

#add-task{
    background-color: #47ADF1;
    color: white;
    border: none;
}

#add-section{
    background-color: white;
    color: #D8DCDF;
    border: 1px solid #D8DCDF;
}

/* to-do list */
.title-task{
    padding: 20px 0px 5px 7%;
    font-weight: bold;
}

li.title-task > h2{
    display: inline-block;
}

li.title-task > button{
    border: none;
    font-size: 100%;
    width: 20px;
    height: 20px;
    background-color: white;
    cursor: pointer;

}

li.title-task > ul{
    padding-top: 5px;
}

.list ul{
    list-style-type: none;
}

.task{
    padding: 5px 0%;
    font-size: 0.9em;
    font-weight: normal;
}

/* elenco tasks  */
.check, .cross{
    border-radius: 100%;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    background-color: white;
    cursor: pointer;
}
.check {
    border: 1px solid green;
    color: green;
    font-size: 0.6em;
}

.cross{
    border: 1px solid red;
    color: red;
    font-size: 0.6em;
}

/* etichette colorate */
.label{
    margin-left: 5px;
    padding: 8px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 0.6em;
}

.label.editorial{
    background-color:#45ABE9;
}

.label.goals{
    background-color: #9B72E5;
}

.label.recruiting{
    background-color: #64C0A9;
}

.label.mobile{
    background-color: #F29D33;
}

.label.website{
    background-color: #D962A0;
}

.label.sales{
    background-color: #B0C826;
}